{% extends "layout.html" %}

{% block title %}
<a href="/curriculum">Learning</a>
{% if student and student.id != current_user.id %}
    <a href="/people/{{student.id}}">{{ student.first_name }}</a>
{% endif %}
{% endblock %}

{% block main_class %}container curriculum_scroll{% endblock %}

{% block body %}

{% if current_user.is_teacher %}
    {% for error in errors or [] %}
        <div class='notification is-important'>{{error}}</div>
    {% endfor %}
    {% for warning in warnings or [] %}
        <div class='notification is-warning'>{{warning}}</div>
    {% endfor %}
{% endif %}


<div class="columns">
    {% set future_count = namespace(value=0) %}
    {% for block_name, period in merged_periods.items() %}
        {% for block in period %}
            {% for topic in block %}

            {% if topic.status == 'future'%}{% set future_count.value = future_count.value + 1 %}{% endif %}
            {% if topic.status == 'ready' or (topic.status == 'future' and future_count.value > 3) %}
            <div class="collapsed topic_{{topic.status}}">
            {% else %}
            <div class="uncollapsed topic_{{topic.status}}">
            {% endif %}
                <div class="node-title"><h2>{{topic.name}}</h2></div>

                {% for lesson in topic.nodes %}
                    {% for depend_id in lesson.depend %}
                        <a class="chained lesson-dep" href="/curriculum/{{nodes_by_id[depend_id].id}}{{(student and student.url_query) or ''}}">
                            {{modules_by_id[nodes_by_id[depend_id].module_id].short or modules_by_id[nodes_by_id[depend_id].module_id].name}} ➤ {{nodes_by_id[depend_id].name}}
                        </a>
                    {% endfor %}
                    <a class="chained lesson {{lesson['status']}}" href="/curriculum/{{lesson.id}}{{(student and student.url_query) or ''}}">
                        <h4>
                            {% if lesson['ects'] %}
                                <div class="tag is-important">{{lesson['ects']}} ects</div>
                            {% endif %}
                            {% if lesson['days']!=1 %}
                                <div class="tag is-info">{{lesson['days']}} days</div>
                            {% endif %}
                            {% if lesson['pair'] %}
                                <div class="tag is-ok">pair</div>
                            {% endif %}
                            {% if lesson['wip'] %}
                                <span class="tag is-important">NOT READY</span>
                            {% elif current_user.is_teacher %}
                                {% if lesson['errors'] %}
                                    <span class="tag is-important">ERROR</span>
                                {% elif lesson['warnings'] %}
                                    <span class="tag is-warning">WARNING</span>
                                {% endif %}
                            {% endif %}
                            {{lesson['name']}}
                        </h4>
                        {{lesson['description']}}
                    </a>
                {% endfor %}
            </div>
            {% endfor %}
        {% endfor %}
    {% endfor %}
    {% if stats %}
    <p style="color: #bbb; scroll-snap-align: start; min-width: 200px;">
        {% for year, info in stats.items() %}
            Year {{year}} has {{info['*'].count}} nodes, spanning {{info['*'].avg_days}} nominal days.<br>
        {% endfor %}
    </p>
    {% endif %}

</div>

{% endblock %}
